body {
  background-color: black;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}


.nav-link {
font-family: 'Josefin Sans', sans-serif;
color: #999999;
}
.nav-item .active {
  color: white;
}
/* .jamlineImage {
  height: 500px;
}  */
.featurePri {
width: 60%;
}
.compFeature {
width: 70%;

}
.featureRow {
width: 80%;

}
.affinity {
width: 55%;
}
.jamLine {
height: 30%;
}
.empMap {
  width: 670px;
}
.loFi {
  width: 60%;
}

p {
  font-size: 20px;
}

span {  font-weight: 900; 
  font-family: 'Merriweather', sans-serif;
}

.driveLink {
  color: greenyellow;
  
}
.driveLink:hover {
  color: rgb(172, 47, 255);
  
}